<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaydınızı Aldık</title>
    <script src="https://kit.fontawesome.com/a6c8be30d8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,200" rel="stylesheet" type="text/css">
</head>
<body style="font-family: open sans">
    <center>
        <i class="far fa-check-circle" style="font-size: 150px; color: rgb(130, 255, 130); margin-top: 10%"></i>
        <p style="color: black; font-size: 2rem; margin-top: 5%">Günlük'e kayıt olduğunuz için teşekkürler.</p>
        <p style="width: 50%">Günlük olarak size her gün düzenli olarak en sıcak başlıkları göndereceğiz.</p>
        <script>
            setTimeout(function(){ window.close(); }, 10000);
        </script>
    </center>
    <div style="color: black; width: 100%; position: absolute; text-align: center; bottom: 100px;">
        <p>Günlük</p>
    </div>
</body>
</html>